* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  margin: 10px;
}
